name: Publish
on: workflow_dispatch
#on:
#  push:
#    branches:
#      - main
permissions:
  contents: write
jobs:
  push-to-public:
    uses: gmo-internet/priv_share/.github/workflows/publish.yml@main
    secrets: inherit